{% extends 'base.html' %}
{%include 'includes navbar.html'%}


{% block content %}
<article class="content">
    <div class="card card-block">
        <div id="notify" class="alert alert-success" style="display:none;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>

            <div class="message"></div>
        </div>
    
        <div class="grid_3 grid_4 animated fadeInRight">
            <h5>Formulary</h5>
            <form method="GET" action="{%url 'formulary'%}">
                <!-- {{product_filter.form.as_p}} -->
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-xs-6">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="green"><span id="dash_0"></span></h3>
                            <span>Category</span>
                            {{product_filter.form.category__category_name}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-xs-6">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="green"><span id="dash_0"></span></h3>
                            <span>Form</span>
                            {{product_filter.form.product_form__form}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-xs-6">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="green"><span id="dash_0"></span></h3>
                            <span>Manufacturer</span>
                            {{product_filter.form.manufacturer__manufacturer_name}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <button class="btn btn-primary" type="submit"> Submit </button>
            </div>
        </div>
    </form>
        <hr>
        <div class="table-responsive">
            <div>
                <a href="{% url 'add_product' %}">
                    <button class="btn btn-primary"> Add New Product </button>
                </a>
            </div>
            <table id="productstable" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Pack Size</th>
                    <th>Category</th>
                    <th>Form</th>
                    <th>Manufacturer</th>
                </tr>
                </thead>
                <tbody>
                    {%for product in product_filter.qs%}
                    <tr>
                        <td>{{product.product_id}}</td>
                        <td><a href="{% url 'product_detail' product.id %}" class="black" >{{product.product_name}}</a></td>
                        <td>{{product.unit_of_measure}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.product_form}}</td>
                        <td>{{product.manufacturer}}</td>
                    </tr>
                    {%endfor%}
                </tbody>

                <tfoot>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Pack Size</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Tier</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <input type="hidden" id="dashurl" value="products/prd_stats">
</article>
{%block js%}

<script type="text/javascript">

    var table;

    $(document).ready(function () {

        //datatables
        table = $('#productstable').DataTable({

            // "processing": true, //Feature control the processing indicator.
            // "serverSide": true, //Feature control DataTables' server-side processing mode.
            // "order": [], //Initial no order.
            "paging": true,
            "searching": true,
            "autoWidth": false,
            "ordering": true,
            // Load data for the table's content from an Ajax source
            // "ajax": {
            //     "url": "{%url 'formulary' %}",
            //     "type": "POST",
            // },

            //Set column definition initialisation properties.
            "columnDefs": [
                {
                    "targets": [0], //first column / numbering column
                    "orderable": false, //set not orderable
                },
            ],

        });
        miniDash();
    });
</script>

{%endblock js%}


<div id="delete_model" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>delete this product</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="object-id" value="">
                <input type="hidden" id="action-url" value="products/delete_i">
                <button type="button" data-dismiss="modal" class="btn btn-primary"
                        id="delete-confirm">Delete</button>
                <button type="button" data-dismiss="modal"
                        class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{%include 'includes/footer.html' %}