{% extends 'base.html' %}
{%include 'includes navbar.html'%}


{% block content %}


<article class="content">
    <div class="card card-block">
        <div id="notify" class="alert alert-success" style="display:none;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>

            <div class="message"></div>
        </div>
        <div class="grid_3 grid_4">

            {% include 'includes/alerts.html' %}
            <form method="post" id="data_form" class="form-horizontal">
                {%csrf_token%}
                <h5>Add New </h5>
                <hr>

                {% for field in form %}
                    <div class="form-group row">

                        <label class="col-sm-2 col-form-label"
                            for="product_catname">{{ field.label_tag }}</label>

                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {%endfor%}
                  
                <div class="form-group row">
                    <button type="submit" class="btn btn-success margin-bottom" >
                        Update Details
                    </button>
                </div>

                {% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %} 
					   <div class=" col-sm-8 alert alert-danger">
							<strong>{{ error|escape }}</strong>
					   </div>
					{% endfor %}
				{% endfor %}
			 {% endif %}

			 {% if form.non_field_errors %}
			 {% for error in form.non_field_errors %} 
				<div class="alert alert-danger">
					 <strong>{{ error|escape }}</strong>
				</div>
			 {% endfor %}
	  		{% endif %}
            </form>
        </div>
    </div>
</article>

{% endblock %}

{%include 'includes/footer.html' %}